html, body, #app, #main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
}

.left-side {
  flex-grow: 1;
  max-width: 320px;
  background: #17212B;
  color: #FEFEFD;
  padding: 10px;
  box-sizing: border-box;
}

.user-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.user-name {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5387C1;
}

.user-photo, .message-item-photo {
  margin: 15px;
  background: url(/projects/mega-chat/no-photo.png);
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-list-header {
  text-transform: uppercase;
  font-weight: bold;
}

.user-list {
  padding: 5px 0 0 10px
}

.right-side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  background: #17212B;
}

.messages-container {
  flex-grow: 1;
  overflow: scroll;
  background: #0E1621;
}

.input-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.message-input {
  height: 30px;
  flex-grow: 1;
  margin: 0 10px 0 0;
  background: #17212B;
  border: transparent;
  color: #fff;
}

.send-button {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #5387C1;
  border-radius: 5px;
  padding: 6px 20px;
}

#login {
  position: absolute;
  top: 20vh;
  width: 452px;
  height: 497px;
  background: #17212B;
  border-radius: 10px;
  box-shadow: 0 0 10px #7f7f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1%;
}

.login-field {
  margin: 15px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.login-field input {
  font-size: 16px;
  height: 30px;
  width: 100%;
}

.login-submit {
  padding: 15px 40px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5188C1;
  border-radius: 5px;
}

.message-item {
  display: flex;
  align-items: center;
}

.message-item-system {
  font-size: 14px;
  color: gray;
}

.message-item ~ .message-item {
  margin-top: 15px;
}

.message-item-right {
  flex-grow: 1;
}

.message-item-header {
  display: flex;
  align-items: center;
}

.message-item-header-name {
  font-weight: bold;
  margin-right: 15px;
  color: #FFFFFF
}

.message-item-header-time {
  color: gray;
  font-size: 12px;
}

.login-header {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.login-desc {
  color: #7F91A4;
  width: 50%;
  text-align: center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

::placeholder { 
  color:   #858F98;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

}

.login-name-input {
  border: transparent;
  border-bottom: 1px solid #465461;
  background: #17212B;
  color: #fff;
}

.login-error {
  color: #fff;
}

.message-item-text {
  color: #fff;
}

.logo {
  width: 139px;
  height: 139px;
}